<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test_001Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test_Demo.Test_3"/>
       <class name="Test_Demo.Test_5"/>
        <class name="Test_Demo.Test_2"/>
         <class name="Test_Demo.Test_001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Test_001Suite -->
